{% extends 'base.html' %}

{% load static %}

{% block title %} {{ course.title }} {% endblock %}

{% block content %}
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ course.image.url }}" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;"></h5>
                        <h1>{{ course.h1 }}</h1>
                    </div>
                    <p>{{ course.course_description }}</p>
                    <div><br><br><br>
                    </div>
                </div>
                <div>
                    <h2>Syllabus</h2>
                    <br>
                    <p>{{ course.courese_requirements|linebreaksbr }}</p>
                    <br><br>
                        <form method="POST" action="{% url 'myapp:course_apply' %}">
                            {% csrf_token %}
                            <input type="hidden" name="course_id" value="{{ course.id }}">
                            <button type="submit" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">
                                Apply
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}